body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

ul{
    float: right;
    list-style-type: none;
    margin-top: 10px;
    margin-left: 5%;
    bottom: 10px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: none;
    color: #3c3c3c;
}
h1{
    font-weight: bold;
    font-size: 50px;
    color:#363658
    
}
h2{
    font-size: 40px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 90%;
}
.orange-highlight{
    color: orange;

}
section{
    height: 500px;
    padding-bottom: 150px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato); 
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
/*Wokring project*/

.one-third{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.one-third img{
    width: 100%;
}
.one-third h3{
    color: #363658;
}
.one-third p{
    color: #6c6c6c;
}
#purple-highlight{
    color: purple;
}

/*Cilents*/

.clients{
    text-align: center;
    background-color: cadetblue;
    margin: 5%;
    border-radius: 20px;
    height: 150px;
}
.clients h3{
    color: white;
    font-weight: bold;
}


/* Inquiry */


.center{
    text-align: center;
}

.inquiry{
    position: relative;
    margin-top: 100px;
    height: 50px;
    padding-bottom: 250px;
}

.inquiry img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.inquiry h1{
    position: absolute;
    top: 30px;
    left: 350px;
    font-size: 64px;
    line-height: 64px;
    width: 70%;
    color: white;
}

.inquiry a{
    position: absolute;
    top: 90px;
    right: 350px;
}


/* Footer */


.footerr{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.footerr img{
    padding: 2%;
    width: 5%;
}
.footerr h3{
    color: #6c6c6c;
}